<!--
  Generated template for the Dashboard page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>dashboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h3>Welcome : {{ userName }}</h3>
  <button ion-button (click)="onClickAdd()">Add new question</button>
  <button ion-button small (click)="onClickLogout()">Sign out</button> 

  <br>

<ion-searchbar [(ngModel)]="searchBar" (ionInput)="getItems($event,id)"></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let id of questions; let i = index" (ionDrag)="onSlideItem(key)">
      <ion-item (click)="more[i] = ! more[i]">
       Question:  {{ id.value.question }}
        <button icon-only >
          <ion-icon name="arrow-down"  *ngIf="!more[i]"></ion-icon>
          <ion-icon name="arrow-up"  *ngIf="more[i]"></ion-icon>
        </button>
        <div *ngIf="more[i]">
          <ion-card>
            <div (click)="onClickChoice(ansTest=1,id.answer)">
              Choice1: {{ id.value.choice1 }} 
            </div>
            <div (click)="onClickChoice(ansTest=2,id.answer)">
              Choice2: {{ id.value.choice2 }}
            </div>
            <div (click)="onClickChoice(ansTest=3,id.answer)">
              Choice3: {{ id.value.choice3 }}
            </div>
            <div (click)="onClickChoice(ansTest=4,id.answer)">
              Choice4: {{ id.value.choice4 }}
            </div>
            <div>
              Answer: {{ id.value.answer }}
            </div>
          </ion-card>


        </div>
      </ion-item>
      <ion-item-options >
        <button ion-button color="secondary" (click)="onClickUpdate(id.key)"> Edit</button>
        <button ion-button color="danger" (click)="onClickDelete(id.key)">Delete</button>
      </ion-item-options>
     
    </ion-item-sliding>
  </ion-list>

  <div padding block>
    <button ion-button outline small>1</button>
    <button ion-button outline small>2</button>
  </div>

   <button (click)="testResign()">resign</button>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
